@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* fonts */
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

  /* colors */
  --color-avacado-100: oklch(0.99 0 0);
  --color-mint-500: oklch(0.72 0.11 178);
}
